---
---
{% assign name = site.data.data.name %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{'/assets/css/main.css' | absolute_url}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>CV | {{name}}</title>
  </head>
  <body>
    <div id="content-desktop" class="container">
      <div class="fullname">
        <h1>Stavros Panakakis</h1>
      </div>
      <div class="container-block">
        <div class="sidebar">
          {% include contact.html %}
          {% include languages.html %}
          {% include skills.html %}
        </div>
  
        <div class="main">
          {% include experience.html %}
          {% include volunteering.html %}
        </div>
      </div>
  </div>
  <div id="content-mobile">Hello world</div>

  </body>
</html