---
layout: default
---
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include languages.html %}
      {% include education.html %}
      {% include skills.html %}
      {% include fork.html %}
    </div>

    <div class="main">
      {% include career-profile.html %}
      {% include experience.html %}
      {% include publications.html %}
      {% include projects.html %}
      {% include volunteering.html %}
    </div>
  </div>
  <webring-banner>
          <p>Member of <a href="https://sdy60-2022.netlify.app/">ΣΔΥ60-2022 Ring</a></p>
          <a href="https://sdy60-2022.netlify.app/prev">Previous</a>
          <a href="https://sdy60-2022.netlify.app/random">Random</a>
          <a href="https://sdy60-2022.netlify.app/next">Next</a>
  </webring-banner>
  <script async src="https://sdy60-2022.netlify.app/embed.js" charset="utf-8"></script>
</div>
