---
layout: default
---
<div class="container">
    {% include header.html %}
    <div class="container-block">
        {% include key_skills.html %}
        {% include experience.html %}
        {% include education.html %}
<!--        {% include projects.html %}-->
<!--        {% include footer.html %}-->
        {% include signature.html %}
<!--            {% include career-profile.html %}-->

            <!--      {% include publications.html %}-->


            {% include motivation.html %}
    </div>
</div>
