{% assign profile = site.data.data.profile %}

<section class="career-profile">
    <h2 class="title">Profile</h2>
    <div class="details">
        When graduating in Computer Science M.Sc. from Tier 1 University in September, I will also have gained valuable experience as a working student in consulting and software engineering.
  With strong skills in mathematics and AI theory, I am proficient in connecting technical expertise in data engineering to a comprehensive business context.
  I possess an unwavering ambition, collaborative spirit, and an entrepreneurial drive to build cutting-edge solutions.
  Joining a consulting firm is an exciting opportunity for me to refine my skills and achieve mutual success.
    </div>
</section>
