{% assign experience = site.data.data.experience %}
<section class="experiance">
    <h2 class="header"><span>Experience</span></h2>
    {% for exp in experience %}
        <div class="title">
            {{exp.role}}
            <div class="company">
                {{exp.company}}   

                {% if exp.website %}
                <span>
                    <a class="lighter" href={{exp.website}}>Website</a>
                </span>
                {% endif %}

                {% if exp.time %}
                 <span class="lighter">{{exp.time}}</span>
                {% endif %}
            </div> 
            
        
        </div>
        
        <div class="body-text">{{exp.details}}</div>
        <p class="body-text"> Technologies Used: {{exp.technologies_used}}</p>
    {% endfor %}
</section>