{% assign experience = site.data.data.experience %}
<section class="experiance">
    <h2 class="header"><span>Experience</span></h2>
    {% for exp in experience %}
        <div class="title">
            {{exp.role}}
            <div class="sub-header">
                {{exp.company}} 
                <span class="lighter">{{exp.time}}</span>
            </div> 
        </div>
        <div class="body-text">{{exp.details}}</div>
        <p class="body-text"> Technologies Used: {{exp.technologies_used}}</p>
    {% endfor %}
</section>