{% assign contact = site.data.data.contact %}
{% assign languages = site.data.data.languages %}
{% assign volunteering = site.data.data.volunteering %}
{% assign interests = site.data.data.interests%}
<div class="footer">
    <hr>
    <span class="title">Technical Skills:</span>
    <span class="enumerate">Python, Java, SQL, AWS, Git, Microsoft Office</span>
    <br>
    <span class="title">Language Skills:</span>
    {% for lang in languages %}
    <span class="enumerate">{{lang.idiom}} - {{lang.level}}</span>
    {% endfor %}
    <br>
    <span class="title">Interests:</span>
    {% for i in interests %}
    <span class="enumerate">{{i}}</span>
    {% endfor %}
    <br>
    <span class="title">Volunteering:</span>
    <span class="enumerate">Hlanganani Orphan Care, Johannesburg, South Africa from August 2016 to September 2016</span>
</div>

<div class="pagebreak"></div>