{% assign motivation = site.data.data.motivation %}
<div class="pagebreak"></div>
<br>
<br>
<section class="career-profile">
    {% if motivation.eng %}
        <h2 class="title">Motivational Statement</h2>
    {% else %}
        <h2 class="title">Motivationsschreiben</h2>
    {% endif %}
    <p style="line-height: 2">
        {% if motivation.eng %}
            <!--From:<br>
            Elias Berger<br>
            Nadisstraße 14<br>
            80809 Munich<br>
            <br>-->
            To:<br>
            {{ motivation.firm_long_name}}
            <br>
            {{ motivation.firm_street }}
            <br>
            {{ motivation.firm_city }}
            <br>
            <br>
            {% if motivation.contact %}
            Dear {{ motivation.contact }}
            {% else %}
            Dear Madam or Sir,
            {% endif %}
            <br>
            {% if motivation.consulting %}
            As a highly skilled individual with a strong passion for delivering results and a deep commitment to caring for clients' businesses, I am excited to join {{motivation.firm_name}} because my abilities are perfectly aligned with your values.
            I'm confident that my Master's degree in Computer Science from the Technical University of Munich,
            as well as my extensive experience as a working student in consulting and software engineering, will allow both
            you and your customers to benefit from my skills.
            {% endif %}
            {% if motivation.developer %}
            As a software engineer who shares your company's values and amateur athlete who is positively dependent on your product, I am thrilled to submit my application for the role {{ motivation.title }} at {{ motivation.firm_name }}.
            With my ability to develop innovative solutions and my commitment to delivering exceptional results, I am
            well-equipped to take on the challenges of your data warehouse and exceed your expectations.
            {% endif %}
            <br><br>
            With a master's degree and a minor in business administration,
            I possess strong digital and analytical skills as well as core understanding of business.
            This knowledge enables me to connect technical expertise in
            {% if motivation.consulting %}
            information technology
            {% endif %}
            {% if motivation.developer %}
            software engineering
            {% endif %}
            to a comprehensive business context and finally to project success.
            My main coursework includes machine learning and software engineering with additional modules in economics and entrepreneurship.
            Through hands-on assignments, I gained practical experience in Python, using these techniques to solve real-world problems in data analytics and natural language processing.
            During my university years, I had the opportunity to engage in group projects where I not only acquired valuable collaboration abilities but also took the initiative to demonstrate leadership and further refine my problem-solving abilities.
            <br><br>
            My academic knowledge is complemented by extensive hands-on experience in Software Development and Data Science, gained over several years as a working student.
            {% if motivation.developer %}
                I am always actively involved in DevOps pushing the implementation of automated
                documentation, high test coverage, and clean code principles.
            {% endif %}
            {% if motivation.consulting %}
            During my time at Ernst & Young and Aitaro, I had the opportunity to work on
            customer-oriented projects learning management and dealing with complex requirements.
            {% endif %}
            At a previous employer, I played a key role in propelling a project forward by communicating with the client
            and specifying the solution, resulting in timely delivery of a data transformation solution that reduced errors saved the client 32 hours of manual work per month.
            Professionally and at university I have worked on data intensive projects using Python and relevant libraries such as Pandas, Kedro and Apache Spark.
            At work, I prioritize open communication and commitment to perfection to deliver high-quality solutions that exceed project requirements and foster a positive working environment.
            <br><br>
            I'm an ambitious and goal-oriented individual with an entrepreneurial drive to build, and a creative mindset that strives for stretch goals.
            I approach problem-solving analytically involving data and being able to communicate complex issues concisely has been confirmed by my peers.
            {% if motivation.developer %}
            Becoming a programmer ignites my passion for collaborating with peers, refining skills, and shaping the
            technical direction of each project to exceed stakeholder expectations.
            {% endif %}
            <!--{% if motivation.consulting %}
                I'm driven to join a consulting firm for the challenge of fast-paced environments and exposure to a variety of clients.
            {% endif %}
            Applying for {{ motivation.firm_name }} is a conscious decision as your requirements are a perfect match for my
            knowledge, while your values align impeccably with my personal goals.-->
            <!--Applying for {{ motivation.firm_name }} is a conscious decision as your requirements in working independently on data-intensive projects and being challenged with a multitude of problems daily
            is the ideal environment for me to excel and grow my career
            and I am eager to contribute my best to achieve mutual success. Already with my current competencies, I consider myself being able to contribute to
            your projects from day one. I would be delighted to demonstrate how I can effectively apply my knowledge to your
            company in a personal meeting.-->
            Applying for {{ motivation.firm_name }} is a conscious decision as your requirements in working on high-stakes projects ensuring current quality and building future integrations
            is the ideal environment for me to excel and grow my career
            and I am eager to contribute my best to achieve mutual success. Already with my current competencies, I consider myself being able to contribute to
            your data warehouse project from day one. I would be delighted to demonstrate how I can effectively apply my knowledge to your
            company in a personal meeting.
            <br>
            <br>
            Best regards,
        {% else %}
            Empfänger:<br>
            {{ motivation.firm_long_name}}
            <br>
            {{ motivation.firm_street }}
            <br>
            {{ motivation.firm_city }}
            <br><br>
            Sehr geehrte Damen und Herren,
            <br><br>
            Als hochqualifizierter Software-Entwickler mit einem tiefen Engagement für die Unternehmen der Kunden, freue ich mich, meine Bewerbung für die Stelle als {{ motivation.title }} bei {{ motivation.firm_name }} einzureichen.
            Ich bin zuversichtlich, dass sowohl Sie als auch Ihre Kunden von meinem Master-Abschluss in Informatik an der Technischen Universität München und von meinen umfangreichen Erfahrungen als Werkstudent in der Beratung und im Software-Engineering, profitieren können.
            <br><br>
            Mit einem Master-Abschluss in Informatik und einem Nebenfach in BWL verfüge ich über ausgeprägte mathematische Fähigkeiten und ein grundlegendes Verständnis der Wirtschaft.
            Dieses Wissen ermöglicht es mir, technische Fähigkeiten in der Softwareentwicklung in einem geschäftlichen Kontext zu setzen, was letztendlich zum Projekterfolg führt.
            Meine Studienschwerpunkte sind Machine Learning und Softwareengineering mit angewandten Aufgabenstellungen in Python zur Lösung von realen Problemen im Bereich Data Mining und generativer, künstlicher Intelligenz.
            Während meiner Studienzeit hatte ich die Gelegenheit, an interdisziplinären Gruppenprojekten teilzunehmen, bei denen ich nicht nur wertvolle Fähigkeiten zur Zusammenarbeit erwarb, sondern auch die Initiative ergriff, Führungsqualitäten zu beweisen und meine Problemlösungsfähigkeiten weiter zu verfeinern.
            <br><br>
            Mein akademisches Wissen wird durch umfangreiche praktische Erfahrungen in den Bereichen Backend Development und Data Science ergänzt, die ich über mehrere Jahre als Werkstudent sammelte.
            Über die operativen Aufgaben als Software-Entwickler hinaus, setze mich im DevOps für die Implementierung von automatisierter Dokumentation, hoher Testabdeckung und sauberen Codeprinzipien ein.
            Bei einem früheren Arbeitgeber spielte ich eine Schlüsselrolle um ein Projekt voranzutreiben, indem ich mit dem Kunden gemeinsam die Lösung spezifizierte, Teilaufgaben priorisierte und mit Kedro implementierte.
            Das Ergebnis war die rechtzeitige Bereitstellung einer Datentransformationslösung, die dem Kunden 32 Stunden manuelle Arbeit pro Monat spart.
            Bei meiner Arbeit im Team lege ich Wert auf offene Kommunikation und Detailgenauigkeit, um qualitativ hochwertige Lösungen zu liefern, die die Projektanforderungen übertreffen und ein positives Arbeitsumfeld fördern.
            <br><br>
            Ich bin eine ehrgeizige und zielorientierte Person mit einem unternehmerischen Drang, und einer kreativen Denkweise, die nach ehrgeizigen Zielen strebt.
            Ich gehe analytisch an Problemstellungen heran, indem ich Daten einbeziehe und meine Fähigkeit, komplexe Sachverhalte prägnant zu kommunizieren, wurde mir von meinen Kollegen bestätigt.
            Aufgrund des Kontakts mit einer Vielzahl von Kunden und der Zusammenarbeit mit hochqualifizierten Kolleginnen und Kollegen ist es mein Ziel, einem Beratungsunternehmen beizutreten.
            Die Bewerbung als {{ motivation.title }} bei {{ motivation.firm_name }} ist eine bewusste Entscheidung, da Ihre Anforderungen mit meinen Kompetenzen übereinstimmen und ich deswegen vom ersten Tag an Ihre Kunden unterstützen kann.
            Die vielfältigen Herausforderungen fordern mich, jeden Tag über mich hinauszuwachsen.
            Daher bin ich zuversichtlich, dass Ihr Unternehmen ein ideales Umfeld bietet, um mich weiterzubilden und meine Karriere zu entwickeln, und ich werde mein Bestes zum gemeinsamen Erfolg beitragen.
            Ich würde mich freuen, Ihnen in einem persönlichen Gespräch zu zeigen, wie ich mein Wissen effektiv in Ihrem Unternehmen einsetzen kann.
            <br><br>
            Mit freundlichen Grüßen,
        {% endif %}
        <br>
        <br>
        <img src="https://raw.githubusercontent.com/TheEliasBe/theeliasbe.github.io/main/_includes/Unterschrift.png"
             alt="signature"
             width="150"
             style="margin-bottom: -10px; margin-top: 10px"
        >
        <script>
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = dd + '.' + mm + '.' + yyyy;

        </script>
        <!--    <script>document.write(today);</script>-->
    <p>
    {% if motivation.eng %}
    Munich, <script>document.write(today);</script>
    {% else %}
    München, <script>document.write(today);</script>
    {% endif %}
    </p>
</section>