<section class="projects">
    <img src="https://raw.githubusercontent.com/TheEliasBe/theeliasbe.github.io/main/_includes/Unterschrift.png"
         alt="signature"
         width="150"
         style="margin-bottom: -10px; margin-top: 10px"
    >
    <script>
        var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();

today = dd + '.' + mm + '.' + yyyy;

    </script>
    <p>München, <script>document.write(today);</script></p>
</section>