{% assign skills = site.data.data.skills %}
<section class="skills">
    <div class="header">Backend Skills</div>
    {% for b in skills.backend %}
        <div class="body-text">{{b.skill}}</div>
    {% endfor %}
    
    <div class="header">DevOps Skills</div>
    {% for d in skills.devops %}
        <div class="body-text">{{d.skill}}</div>
    {% endfor %}
    
    <div class="header">Frontend Skills</div>
    {% for f in skills.frontend %}
        <div class="body-text">{{f.skill}}</div>
    {% endfor %}

    <div class="header">Other Skills</div>
    {% for o in skills.other %}
        <div class="body-text">{{o.skill}}</div>
    {% endfor %}
</section>