{% assign volunteering = site.data.data.volunteering %}
{% if volunteering %}
<section class="volunteering">
    <h2 class="title">Volunteering</h2>
    {% for vol in volunteering %}
        <div class="volunteering-item">
            <div class="role">
                {{vol.role}}
            </div>
            <div class="organization">
                {{vol.company}}
                <span class="time">{{vol.time}}</span>
            </div>
            <div class="details">{{vol.details}}</div>    
        </div>
        
    {% endfor %}
</section>
{% endif %}