{% assign volunteering = site.data.data.volunteering %}
{% if volunteering %}
<section class="volunteering">
    <div class="title">Volunteering</div>
    {% for vol in volunteering %}
        <div class="volunteering-item">
            <div class="role">
                {{vol.role}}
            </div>
            <div class="organization">
                {{vol.company}}
                <div class="time">{{vol.time}}</div>
            </div>
            <div class="details"><i>{{vol.details}}</i></div>
        </div>
        
    {% endfor %}
</section>
{% endif %}