{% assign volunteering = site.data.data.volunteering %}
<section class="volunteering">
    <div class="header">Volunteering</div>
    {% for vol in volunteering %}
        <div class="title">
            {{vol.company}}
            {% if vol.time %}
                 <span class="lighter">{{vol.time}}</span>
                {% endif %}
        </div>
        
        <div class="body-text">{{vol.details}}</div>    
        {% if vol.link %}
            <a style="margin-bottom:20px;" class="body-text" href={{vol.link}}>Link</a>
        {% endif %}
    {% endfor %}
</section>