@import "variables";
@import "layout";
@import "print";

body {
    background-color: $bg-color;
    font-family: $font;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .header {
    text-transform: uppercase;
}

h1 {
    font-size: $header_font-size;
    font-weight: 900;
    color: $fg-color-dark;
}

a {
    color: $fg-color-body;
}

.header {
    color: $fg-color;
    font-size: 18px;
    font-weight: 700;
    margin-top:20px;
   
}

.header{
    display: flex;
    flex-direction: row;
    &:before, &:after{
        content: "";
        flex: 1 1;
        border-bottom: 1px solid;
        margin: auto;
    }
    &:before {
        margin-right: 10px
    }
    &:after {
        margin-left: 10px
    }
}

.title {
    color: $fg-color;
    font-size: 16px;
    font-weight: 700; 
    margin-top:20px;
}

.company {
    font-size: 14px;
    color: $fg-color-title-sm;
}

.body-text {
    font-size: $body_font-size;
    color: $fg-color-body;
    text-align: justify;
}

.lighter {
   float: right;
   font-size: 14px;
   color: $fg-color-title-sm;
   font-weight: 100;
}

section {
    margin-top: 20px;
}

#content-mobile {
    text-align: center;
}