* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: justify;
    line-height: 1.33;
}

body {
    background-color: #ffffff;
}

.container {
    min-height: 900px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--bg-color-cv);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    padding:20px;
    margin-top:25px;
    margin-bottom: 25px;
    .container-block {
        width: 90%;
        margin: 0 auto;
        padding:20px;
        display: grid;
        // grid-template-columns: 2fr 5fr;
        .sidebar {
            margin-top: 20px;
        }
    }
}

ul{
    padding-left: 20px;
}

.badge {
    border-color: var(--fg-color);
    border-width: 1px;
    border-style: solid;
  color: var(--fg-color);
  padding: 4px 8px;
  text-align: center;
  border-radius: 10px;
font-size: 10px;
}

.key-skill {
    color: var(--fg-color);
    font-weight: bold;
    font-size: 12px;
}

.key-skill-level {
    font-size: 12px;
    color: var(--fg-color-body);
}

a{
    color: var(--fg-color);
    text-decoration: none;
    &:hover {
        color: var(--fg-color-dark);
        text-decoration: underline;
    }
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}



