.container {
    max-width: 900px;
    min-height: 900px;
    margin: 0 auto;
    background-color: var(--bg-color-cv);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    padding:30px;
    margin-top:30px;
    margin-bottom: 30px;
    .container-block {
        width: 90%;
        margin: 0 auto;
        padding:20px;
        display: grid;
        grid-template-columns: 2fr 5fr;
    }
    .top {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input[type="checkbox"] {
            width: 0;
            height:0;
        }
        label {
            cursor: pointer;
            color: var(--fg-color-dark);
            
        }
    }
}

@media (min-width: 767px) {
    #content-desktop {
        display:block;
    }
    #content-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    #content-desktop {
        display: none;
    }
    #content-mobile {
        display: block;
    }
}
