.education {
    .title {
        @include header;
    }
    .education-item {
        margin-bottom: 20px;
        .degree {
            @include sub-header;
        }
        .university {
            @include body-text;
            font-weight: bold;
        }
        .time {
            @include body-text;
            float: right;
                color: var(--fg-color-title-sm);
                font-weight: normal;
        }
        .details {
            @include body-text;
        }
    }
}