.publications {
    .title {
        @include header;
    }
    .publication-items {
        .publication-item {
            margin-bottom: 20px;
            .publication-title {
                a {
                    text-decoration: none;
                    font-weight: bold;
                    @include body-text; 
                }
            }
            .authors {
                @include body-text; 
            }
            .conference {
                @include body-text; 
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
    }
}